#commentSection {
    max-width: none;
}

#commentSection p {
    font-size: 1.6rem;
}

#commentSection button {
    min-width: 75px;
    margin: 0 0 20px 30px;
}
/*
.replyButton {
    margin: 0 0 0 10px;
}
*/

#commentSection .replyButton {
    margin: 0 0 0 10px;
}

textarea {
    resize: none;
    width: 95%;
    max-width: calc(95% - 15px);
    font-size: inherit;
    margin: 15px;
}

.comment {
    display: flex;
    flex-direction: row;
    margin: 15px;
    word-break: break-word;
    /*border-bottom: 2px solid grey;
    border-top: 2px solid grey;*/
    border: 2px solid lightgrey;
    border-radius: 15px;
    transition: background-color 0.8s;
    padding: 5px 10px;
}


#commentSection .reply button {
    margin: 0 10px;
}

#commentSection .reply textarea {
    margin: 3px 10px;
}

.reply {
    margin: 15px;
    border: 2px solid lightgrey;
    border-radius: 15px;
    transition: background-color 0.8s;
    padding: 5px 10px;
}

.comment:hover {
    background: #09d3cf;
}

.commentSection {
    width: 100%;
}

.nick {
    font-weight: bold;
    font-size: 1.35rem;
    padding: 0 0 0 10px;
    word-break: keep-all;
}

.bottomInformation {
    padding: 5px 5px 0 5px;
    font-size: 0.8rem;
}

.activ {
    color: darkgrey;
    padding: 0 0 0 10px;
    font-size: 0.8rem;
}

.commentInf {
    border-right: 1px solid lightgrey;
    padding: 5px;
}

.commentText {
    padding: 5px 10px;
    min-height: 50px;
    /*
    border-top: 1px solid lightgrey;*/
    border-bottom: 1px solid lightgrey;
}

@media (max-width: 1020px) {
    .commentText {
        min-height: 0;
        word-break: break-all;
    }

    .nick {
        font-weight: bold;
        font-size: inherit;
        padding: 0 0 0 10px;
    }
}