#commentSection {
    max-width: none;
}

textarea {
    resize: none;
    width: 90%;
    margin: 10px;
}

.comment {
    display: flex;
    flex-direction: row;
}

.nick {

}

.commentInf {
    border-right: 2px solid gray;
    width: 30%;
}

.commentText {

}