#commentSection {
    max-width: none;
}

textarea {
    resize: none;
    width: 90%;
    margin: 10px;
}

.comment {/*
    display: flex;
    flex-direction: row;*/
    margin: 15px 0 15px 0;
    border-bottom: 2px solid grey;
    border-top: 2px solid grey;
}

.comment:hover {
    background: #09d3cf;
    font-weight: bold;
    color: darkgrey;
}

.nick {

}

.commentInf {
    border-bottom: 2px solid gray;
    width: 30%;
}

.commentText {

}