@media (max-width: 1020px) {
    nav, footer {
        height: 10vh;
        min-height: 60px;
    }
    .switcher .type {
        padding: 0 2px;
    }

    iframe {
        margin: 0;
        min-height: 375px;
        min-width: 280px;
    }

    #menuButton {
        padding: 10px;
        background: inherit;
        display: inline;
    }

    #menuButton:hover {
        font-weight: normal;
        background: #03a2a0;
    }

    .mobileMenu a {
        height: auto;
        display: block;
        padding: 5px;
        transition: background-color 0.4s;
    }

    .mobileMenu {
        left: 110vw;
        z-index: 1;
        background: #09d3cf;
        display: block;
        position: fixed;
        width: 70vw;
        height: 100vh;
    }
/*
    .type:last-child {
          margin-right: 0;
     }*/

    div.mobileMenu a {
        z-index: 2;
        display: block;
        position: fixed;
        /*top: 100px;*/
        width: inherit;
    }

    img {
        height: 70px;
        width: 70px;
        min-width: 70px;
        min-height: 70px;
    }

    nav a {
        display: none;
    }

    h3 a {
        display: block;
    }

    .content
    {
        margin: 7px;
    }
}
